.place__delete {
  background-image: url('../../../images/delete-button__icon.svg');
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  transition: opacity 1s;
  cursor: pointer;
}

.place__delete:hover {
  opacity: 0.5;
}