.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 881px) {
  .profile {
    margin-left: 24px;
  }
}

@media screen and (max-width: 570px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}