.profile__avatar-button {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  opacity: 0;
  cursor: pointer;
  background-image: url('../../../images/edit-pen__icon.svg');
  position: absolute;
}

.profile__avatar-button:hover {
  opacity: 0.8;
  background-color: #C4C4C4;
  border: 2px solid #C4C4C4;
  background-position: center;
  background-repeat: no-repeat;  
}